<div class="container-fluid science-service">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-xs-12">
                <h3 class="fl-heading" data-aos="fade-right">
                    <span class="fl-heading-text">Discover the news of BioAgora</span>
                </h3>
            </div>
            <div class="col-md-2 col-xs-12 end-md center-xs">
                <a href="{{'news'|page}}" class="btn btn-float" >
                    Our news
                </a>
            </div>
        </div>

    </div>
</div>
