<div class="container-fluid science-service">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-xs-12">
                <h3 id="contact-heading" class="fl-heading" data-aos="fade-right">
                    <span class="fl-heading-text">Learn more about the Science Service for Biodiversity</span>
                </h3>
                <div id="contact-description" class="sr-only">
                    Information for inquiries about the Science Service for Biodiversity
                </div>
            </div>
            <div class="col-md-2 col-xs-12 end-md center-xs">
                <a href="{{'science-service-biodiversity'|page}}" class="btn btn-float" aria-describedby="contact-desc">
                    Learn more
                </a>
                <span id="contact-desc" class="sr-only">
                    Opens the Science Service for Biodiversity page
                </span>
            </div>
        </div>
    </div>
</div>
