title = "Newsletters"
layout = "default"
url = "/newsletters"

[jumbotron jumbotron1]
jumbotron = "stay-date-latest-bioagora"
background = "transperant"
templates = "template3"
description_limit = 0


[menu tabs_menu]
start = "id-13"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

==
<?php
use Pensoft\Media\Models\Newsletters;
use System\Models\File;

function onStart(){
    $this['mediaNewslettersList'] =  Newsletters::orderBy('date', 'desc')->get();
    if(get('download')){
        $file = File::find((int)get('download'));
        $file_name = $file->getLocalPath();
        $recordName = get('file_name') ? get('file_name') : 'BioAgora_newsletter';
        $ext= $file->getExtension();

        if (file_exists($file_name)) {
            header('Content-Description: File Transfer');
            header('Content-Type: application/octet-stream');
            header("Content-Type: application/force-download");
            header('Content-Disposition: attachment; filename='.$recordName .'.'. $ext);
            header('Content-Transfer-Encoding: binary');
            header('Expires: 0');
            header('Cache-Control: must-revalidate, post-check=0, pre-check=0');
            header('Pragma: public');
            header('Content-Length: ' . filesize($file_name));
            ob_clean();
            flush();
            readfile($file_name);
            exit();
        }
        return Redirect::to('/newsletters');
    }
}
?>
==

    <div class="container">
        <div class="category-tabs">
            {% component 'tabs_menu' %}
        </div>
    </div>

    <div class="container newsletters_list">
        <h2>Our latest newsletters</h2>
        <section class="row" aria-label="Newsletters list">
            {% set records = mediaNewslettersList %}
            {% set noRecordsMessage = mediaNewslettersList.noRecordsMessage %}

            {% for record in records %}
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
            {% if record.newsletter_image %}
            <article class="col-md-4 col-xs-12 mb-4">
                <div class="newsletter_item">
                    <div class="image_container" aria-label="{{record.name}} cover image">
<!--                        <img src="{{record.newsletter_image.thumb(354,311,{'mode':'crop'})}}" alt="{{record.name}} cover image">-->
                        <img src="{{record.newsletter_image.path}}" alt="{{record.name}} cover image">
                    </div>
                    <time datetime="{{record.date|date('Y-m')}}">{{record.date |date('F Y')}}</time>
                    <h2 class="card_title">{{record.name}}</h2>
                    <a href="{{ record.url}}" target="_blank" class="btn btn-primary" rel="noopener" aria-label="Read {{record.name}} newsletter (opens in new tab)">Read the newsletter</a>
                </div>
            </article>

            {% endif %}

            {% endspaceless %}
            {% else %}
            <p>{{ noRecordsMessage }}</p>
            {% endfor %}
        </section>
    </div>

    <div class="container newsletters">

        {% component 'jumbotron1' %}
        <iframe style="display: block; margin-left: auto; margin-right: auto; max-width: 100%;" src="https://dashboard.mailerlite.com/forms/497643/92668673229063306/share" width="100%" height="1000" frameborder="0" scrolling="auto" allowfullscreen="allowfullscreen"></iframe>
    </div>
